<div class="d-flex justify-content-start" *ngIf="elementTemplate">
    <div class="mr-3 composite-element-placeholder">
      <span class="badge badge-pill badge-orange font-weight-normal">
        <ng-container [ngSwitch]="element.operator">
            <span *ngSwitchCase="'$or'" class="font-sm text-uppercase" [translate]="'QueryBuilder.Or'"></span>
            <span  *ngSwitchDefault class="font-sm text-uppercase" [translate]="'QueryBuilder.And'"></span>
        </ng-container>
      </span>
    </div>
    <div class="mt-2 w-100">
        <ng-container *ngFor="let element1 of element.elements;let i = index">
            <ng-container [ngSwitch]="!!(element1.elements && element1.elements.length)">
                <ng-container *ngSwitchCase="true">
                    <div class="mb-2">
                        <universis-query-composite-element [customParams]="customParams" [removable]="element.elements.length >= 2" (remove)="onRemove(i)"
                            [elementTemplate]="elementTemplate" [element]="element1"></universis-query-composite-element>
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <universis-query-element [customParams]="customParams" [removable]="element.elements.length >= 2" (remove)="onRemove(i)"
                        [element]="element1" [template]="elementTemplate"></universis-query-element>
                </ng-container>
             </ng-container>
        </ng-container>
        <div class="mt-2">
            <div class="btn-group">
                <button (click)="switchGroup(element.operator === '$and' ? '$or' : '$and')" type="button" class="btn btn-sm btn-gray-100 text-dark" [translate]="'QueryBuilder.SwitchGroup'">
                </button>
                <button type="button" class="btn btn-sm btn-gray-100 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Switch group</span>
                </button>
                <div class="dropdown-menu">
                    <button (click)="switchGroup('$and')" type="button" class="dropdown-item btn-sm text-dark">
                        <span class="mr-2">&amp;</span><span [translate]="'QueryBuilder.And'"></span>
                    </button>
                    <button (click)="switchGroup('$or')" type="button" class="dropdown-item btn-sm text-dark">
                    <span class="mr-2">||</span><span [translate]="'QueryBuilder.Or'"></span>
                    </button>
                </div>
            </div>
            <button (click)="addFilter()" type="button" class="ml-2 btn btn-sm btn-gray-100 text-theme">
                <span class="mr-2">+</span><span class="d-none d-md-inline" [translate]="'QueryBuilder.AddFilter'"></span>
                <span class="d-md-none" [translate]="'QueryBuilder.Filter'"></span>
            </button>
            
            <div class="ml-2 btn-group">
                <button (click)="addInnerGroup('$and')" type="button" class="btn btn-sm btn-gray-100 text-theme">
                    <span class="mr-2">+</span><span class="d-none d-md-inline" [translate]="'QueryBuilder.AddInnerGroup'"></span><span class="d-md-none" [translate]="'QueryBuilder.InnerGroup'"></span>
                </button>
                <button type="button" class="btn btn-sm btn-gray-100 dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <button (click)="addInnerGroup('$and')" type="button" class="dropdown-item btn-sm text-theme">
                        <span class="mr-2">&amp;</span><span [translate]="'QueryBuilder.And'"></span>
                    </button>
                    <button (click)="addInnerGroup('$or')" type="button" class="dropdown-item btn-sm text-theme">
                        <span class="mr-2">||</span><span [translate]="'QueryBuilder.Or'"></span>
                    </button>
                </div>
            </div>
            <button *ngIf="removable"  (click)="remove.emit()" type="button" class="ml-2 btn btn-sm btn-gray-100 text-danger">
                <span class="mr-2">-</span><span class="d-none d-md-inline" [translate]="'QueryBuilder.RemoveGroup'"></span><span class="d-md-none" [translate]="'QueryBuilder.InnerGroup'"></span>
            </button>
        </div>
    </div>
  </div>